<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>永远相信美好的事情即将发生</title>
    <style>
        body{
            margin: 0;
        overflow: hidden;
        }
        /* body{
            background-image: url(./img/bk.jpg);
            color: #fff;
            background-size: contain;
            background-repeat: no-repeat;
        } */
        h1{
            text-align: center;
        }
        .goodtxt{
            margin: 0 auto;
            text-align: center;
        }
        p{
            margin: 0 auto;
            margin-top: 20px;
            width: 50vw;
            text-align: left;
        }
        .goodImage{
            margin-top: 20px;
            width: 50vw;
            height: 400px;
            
        }
    </style>
</head>
<body>
   <div id="app">
    <h1>永远相信美好的事情即将发生</h1>
    　<div class="goodtxt" v-for="(item,index) in list" :key="index">
        <p>{{index+1}}：{{item.text}}</p>
        <img v-if="item.url" class="goodImage" :src="item.url" alt="">
    </div>
   </div>
</body>
<script src="js/vue.js"></script>
<script>
    // let vm = new Vue();
    new Vue({
        el: '#app',
        data() {
            return {
                list: [
                    {
                        text:"岁月静好，牵一片光阴于流年中，聆听花开的声音；携一缕馨香在生命的路口，芬芳过往。给时光一份浅浅的回眸；给心灵寻一份安暖。始终相信生命中的某些东西，深藏在心中，永远不会老去。",
                    url:'./img/x1.jpg'
                    },
                    {
                        text:"或许，人生的每一次蜕变，都是触目惊心的。曾经，我认为有些河流，我永远趟不过去，有些山峰，我永远不能翻越。不曾想，自己竟然是如此的勇敢。"
                    
                    },
                    {
                        text:"瞬间的美丽总会是发生得太突然，好比是看一场电影，那些与你接踵摸肩的陌生人，也算是人海茫茫中的一叶，然而他们能与你共度一段时光、感受同一片天空、同一片视野的快乐，也是缘分的因缘吧！"
                        ,url:'./img/x2.jpg' },
                    {
                        text:"初春的气息依然那么浓厚，像抹了一层葱油，那么的香甜；感受那微风吹过，心中涤荡着难以言表的澎湃；感受那鼻尖的清香，那是嫩叶散发出来的朝气。"
                    },
                    {
                        text:"独自听雨在竹林，弦动我心，曲一杯，诗一杯，风自悠悠，我自沉醉。依旧把梦放在风里飞，在孤独中铺开一片浪漫风景。若有思念，就让它沉淀成一杯清香流苦的茶，在四季中轻轻品味。若有忧伤，就让它摇成一滴雨泪，从陶潜的篱笆落到王维的幽篁里，从板桥的墨竹滴到白居易的云窗下，化作墨间笺底的淡淡馨香。从此了悟，生命的美，原是因为有梦、有痛，还有寂寥折叠成的痴狂和醉意。"
                        ,url:'./img/x3.jpg' },
                    {
                        text:"悠悠竹林，万顷翠色，几多清幽和宁静，自然没有城市的喧嚣和杂乱。若有雨徐徐飘落，在绿绿的枝叶上腾起袅袅轻烟，如雾，如云，更似一幅水墨丹青，流芳沁馨，不知泊了谁的梦怀。更醉人的是那动听的雨声，疏疏落落，潇然成音、成曲。此时，雨为纤指竹为弦，清风流韵，细弹心语，听雨的人，便是知音。"
                    },
                    {
                        text:"音绕梁，墨生香，寻求安逸不妄想。贪恋清静，只愿在寻求安逸，慌忙逃离之间，一切如初，不添纷扰！情系黄河岛……"
                        ,url:'./img/x4.jpg'},
                    {
                        text:"岁月，依一抹浅香于心间，看年华向晚，闻花香送暖。给时光一个浅浅的回眸；给自己一份微笑从容。沉淀，馨香；念起，温暖。"
                    },
                    {
                        text:"岁月的厚重永远也阻挡不了时光的轻盈。此时，明媚的阳光透过窗棂，在我的眉眼间穿行，照在我心灵的花海上，当记忆的风吹来的时候，就会散发出阵阵的花香，这香不浓不淡，是经过岁月沉淀的馨香，在人间烟火中升腾，带着岁月恬淡与感悟，持久而永恒……"
                        ,url:'./img/x5.jpg'},
                    {
                        text:"有早行的人带着伞儿，但只是握在手里，同只身行于雨中的我一样，行走的一样舒雅别致，不慌不忙，从容不迫，每一个人似乎一下都成了一个个富含诗意的音符，随着韵律在跳跃。春雨，化成了一个舞台上的布景，每一个生命依稀都成为了舞台上的角色，各人都在自己的角色中，优雅从容地展示着自我的风采。"
                    },
                    {
                        text:"孤鸿南归，流星消殒，落苑成伤，罗绸冷矜，弱缕三千，点墨成痴，演绎风华绝代，独奏曲终人散，尘缘化茧，往事如烟，悄问落花何处去？可知月色几时明。秋天的气息氤氲了灿然的菊花，蒹葭苍苍，白露为霜，落霜压菊，静闻菊香，欣赏菊蝶飞舞，陶醉在色彩斑斓的秋色里，浑然想起那些辗转在岁月中离去的倩影，谱写了我锦瑟的年华。"
                        ,url:'./img/x6.jpg'},
                    {
                        text:"生命的旅途中，我们在一直寻寻觅觅，却总是忽略了眼前的风景。其实美好都深藏在岁月中，每天清晨坐拥的那一米阳光；春日里那含苞未放的花朵；冬天里飘落的第一片雪花都是美好，其实幸福都渗透在柴米油盐的平淡中，孩子的一个笑脸；朋友的一声问候；夜深回家为你亮着的那盏灯都是幸福，拥有一颗感恩的心就会幸福。不要说你不幸福，其实当你沐浴在这春日暖阳中，已和幸福闯了个满怀。"
                    },
                    {
                        text:"初夏的阳光有着水晶一样的质地，披着绿意，透着明媚，带着岁月的馨香。这样的阳光能够让生命中的脉络清晰展现；让生活变得简单明了起来。沐浴在这润泽的阳光里，心是柔柔的，连呼吸都不由得轻快起来。"
                        ,url:'./img/x7.jpg' },
                    {
                        text:"季节的流年里，时光如水而过。春风送暖，染一季芳菲，催一树花开，最美不过人间四月天。鸟语花香的清晨，推开窗子，看桃花灼灼，花瓣纷扬，让心灵浸染春色，那淡淡的清新沉醉了我的一帘幽梦。"
                    },
                    {
                        text:"总有人说，人生就像一场戏，因为有缘才相聚，相遇相知是缘分，若能找到知己，其实是否一见钟情并不重要，重要的是那邂逅的一瞬间，这样就应该知足了！"
                        ,url:'./img/x8.jpg'},
                    {
                        text:"晨间，清露晶莹剔透，浸润着春的潮湿。低头轻吻，指尖轻触，干干净净的凉意将心的尘埃澄澈，那一刻，才发现放下仰望，世界是如此空旷与灵动，美丽得不着痕迹，却入心。"
                    },
                ]
            }
        },
        created(){       
        },
        mounted() {},
        methods: {
        }
    })
</script>
</html>